@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$primary: #5ED7F3;
$primary-light: #5EE3F2;
$primary-dark: #3F7E8C;
$secondary: #262626;
$tertiary: #270101;
$gray-light: #EEEEEE;

// Components
@import './../../components/Header/index.scss';
@import './../../components/Button/index.scss';
@import './../../components/Icon/index.scss';

// Containers
@import './../../containers/Dashboard/index.scss';
@import './../../containers/Todo/index.scss';

// Global CSS
html, body, #root {
  height: 100%;
}

input, button {
  &:focus {
    outline: none;
  }
}

h1, h2, h3,
h4, h5, h6,
p, input, button {
  font-family: 'Open Sans', sans-serif;
}